.navbar {
    background-color:black;
    


}






.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
}

.btn-outline-success {
    bs-btn-color: #198754;
    --bs-btn-border-color: lightslategrey;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

.btn {
    color: white;
}





.login {
    padding-left: 10px;

}




.bg-video {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    align-items: center;


}

.bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

.main-heading {
    position: relative;
    
    
}


#home h1 {
    color: white;
    font-size: 5vw;

}

#home p {
    color: white;
}

.discover-btn {
    margin: 32px 0 0 0;
    padding: 0;

}









.tag1{
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 0px;
    margin-top: 50px;
    color: black;
    margin-bottom: 50px;
    text-decoration: underline;
    font-style: italic;

 }
 

 
 .gallery{
    background-color: lightgrey;
     
    
      
    
 }
 
 .gallery img{
    background-color:gray;
    padding: 15px;
    width: 100%;
       }

 










  





#testimonials {
    background-color: lightgray;
    height: 100vh;  
}
.revi{
    padding-bottom: 320px;
}
.section-intro .hline{
    width:120px;
    height:2px;
    background-color: rgba(5, 0, 0, 0.164);
    margin:16px auto 0 auto;
}


.review p {
    max-width: 600px;
    margin: 24px auto;
    font-style: italic;
}

.test-images img {
    height: 65px;
    width: 65px;
    border-radius: 100px;
    transition: all 0.4s ease;
}

#review{
    margin-top: 50px; 

}













ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a{
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

 

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {

    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
     
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}




















